/**
 * Style
 * 
 * Global front end styles for the plugin.
 */
.homer-spoiler {
    font-size: 0;
    --font-size: var(--wp--preset--font-size--medium);
    --color: #000;

    &:before {
        content: attr(data-text);
        cursor: pointer;
        color: var(--color);
        width: auto;
        font-size: var(--font-size);
    }

    &[data-underline='true'] {
        &:before {
            border-bottom: 1px solid var(--color);
        }
    }

    &.active {
        font-size: inherit;

        &::before {
            display: none;
        }
    }
}
